.container{
    margin: 0 auto;
    height: 100%;
    max-width: 1230px;
    width: 100%;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}