.brands__subtitle {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    background: #F4F4F4;
    max-width: 134px;
    width: 100%;
}

.brands__subtitle__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    color: #1C2752;
}

.brands__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0  0 146px;
}

.brands__title {
    color: #1C2752;
    font-family: 'Mulish';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    margin-top: 22px;
}

.brands__images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
}