.header__text {
    color: #1C2752;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
}

.header__wrap{
    display: flex;
    gap: 778px;
    align-items: center;
}

.header__icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header{
    background: #F2F2F2;
    height: 70px;
}
