.nav__items__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36000001430511475px;
    color: #222222;
    transition: 0.2s all linear;
}

.nav__items__link:hover {
    color: #fff;
}

.nav__wrap {
    background: #FFB342;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav__items {
    display: flex;
    align-items: center;
    padding: 0 26px;
    justify-content: space-around;
    max-width: 644px;
    width: 100%;
}

.nav__items__button {
    padding: 20px 42px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #F4F4F4;
    background: #1C2752;
    transition: 0.2s all linear;
}

.nav__items__button:hover {
    color: #1C2752;
    background: #F4F4F4;
}

.nav{
    transform: translateY(52px);
}
