.plans__titles__subtitle {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    background: #fff;
    max-width: 160px;
    width: 100%;
}

.plans {
    background: #F4F4F4;
    padding: 150px 0 128px;
}

.plans__titles__subtitle__text {
    color: #1C2752;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
}

.plans__titles__title {
    color: #1C2752;
    font-family: 'Mulish';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    width: 498px;
}

.plans__titles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.plans__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plans__desc__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    color: #7E7E7E;
    width: 586px;
}

.plans__cards__card {
    padding: 40px 40px 50px;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    transition: all linear 0.2s;
    width: 100%;
    background: #fff;
}

.plans__cards__card__desc__price__text {
    color: #1C2752;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
}

.plans__cards__card__desc__price__price {
    color: #1C2752;
    font-family: 'Mulish';
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
}

.plans__cards__card__desc {
    border-bottom: #D7D7D7 1px solid;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.plans__wrap {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.plans__cards__card__desc__info__payment {
    color: #7E7E7E;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3199999928474426px;
}

.plans__cards__card__list-item {
    color: #7E7E7E;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.plans__cards__card__list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 40px 0 56px;
}

.plans__cards__card__button {
    color: #1C2752;
    padding: 22px 108px;
    background: #FFB342;
    transition: 0.2s all linear;
}

.plans__cards__card__button:hover {
    color: #FFB342;
    background: #1C2752;
    transform: scale(1.1);
}

.plans__cards__card__desc__info__popular {
    background: #FFB342;
    color: #1C2752;
    text-transform: uppercase;
    width: 98px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3199999928474426px;
    text-align: center;
}

.plans__cards__card__desc__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plans__cards__card__desc__price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plans__cards {
    display: flex;
    gap: 30px;
}

.plans__info-item__desc__title {
    font-family: 'Mulish';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.36000001430511475px;
    color: #1C2752;
}

.plans__info-item__desc__text {
    color: #7E7E7E;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
}

.plans__info-item{
    display: flex;
    align-items: start;
    gap: 16px;
    max-width: 586px;
    width: 100%;
}

.plans__info-item__desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plans__info{
    display: flex;
    justify-content: space-between;
}

.plans__cards__card:hover{
    transform: scale(1.1);
}